html
    head
     
        style
            include style.css
           
    header
    center
        
            h1=alldata.name_of_province
    body
       center
            div 
               img.largeImg(src=image1 )
               br
               br
               img.subPic(src=image2)
               img.subPic(src=image3)
            div 
                h1 Delicacies :
                ul 
                    h3=alldata.delicacies[0] 
                    h3=alldata.delicacies[1]
                    h3=alldata.delicacies[2]
            label Group of island :
                span=alldata.groupOfIsland
            br
            label Number of Population :
                span=alldata.population
            h2=alldata.write_up
            h2 average rating of 
                span=alldata.name_of_province
                span is
                span
            h2 ratings:
            button#1 1
            button#2 2
            button#3 3
            button#4 4
            button#5 5
    //- script
    //-     |console.log(images[0])