html
    head
     
        style
            include style.css
        title=shortname
    header
    center
        
            h1=name_of_province
    body
       center
            div 
               img.largeImg(src=images[0] )
               br
               br
               img.subPic(src=images[1])
               img.subPic(src=images[2])
            div 
                h1 Delicacies :
                ul 
                    h3=delicacies[0] 
                    h3=delicacies[1]
                    h3=delicacies[2]
            center
                ul
                    li
                        h2
                            label Group of island :
                                span=group_of_island
                    li
                        h2
                                label Number of Population :
                                    span=population
                        
                            
            h2#writeUp=write_up
            h2 average rating of 
                span=name_of_province+" "
                span="is " 
                span#ratings=rate
                br
            h2 Rate :  
            
            button#1 1
            button#2 2
            button#3 3
            button#4 4
            button#5 5
    script(src="/jquery.js")
    script(src="/Ajax.js")
    //- script
    //-     |console.log(images[0])